<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather/about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./style/styles.css">
</head>
<body>
    {{>header}}
    <div class="main-content">
        <img src={{img_src}} id="img1" alt="Valorant">
        <p>
            Do you know about this page cuz i don't.
        </p>
    </div>
    {{>footer}}
</body>
</html>